img{
  width: 50%
}

.pic{
  display: none;
}

.showme{
  display: block;
}

#radios{
  padding-left: 20px;
}

h1{
  text-align: center;
  padding-bottom: 40px;
}

body{
  background-color: #ade5fb;
}

#inputs{
  padding-left: 20px;
}
